# Language: Cpp
BasedOnStyle: WebKit
AlignAfterOpenBracket: true
# AlignConsecutiveMacros: Consecutive
AlignOperands: Align
AlignTrailingComments: true
AlwaysBreakBeforeMultilineStrings: true
BreakBeforeBinaryOperators: false
DerivePointerAlignment: false
FixNamespaceComments: true
IndentCaseBlocks: false
IndentWidth: 4
InsertBraces: true
NamespaceIndentation: None
PointerAlignment: Right
TabWidth: 4
UseTab: AlignWithSpaces
